@import "tailwindcss";

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.scroll-ios {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
